{% extends 'base.html' %}

{% block title %} User Blogs {% endblock %}

{% block content %}


    <h2 class="class=d-inline mb-4">
      <strong>Look</strong> At all these blogs!
    </h2>
    
    <div class="container-fluid pe-4 mb-4">
        <div class="card-group-vertical mb-2 p-2 ">
            {% for blog in  all_blogs.items %}
                <div class="card mb-4" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.title }}</h5>
                    </div>
                    <div class="card-body">
                        <a href="/blogs/view/{{ blog.id }}" class="btn btn-dark card-link">Read More</a>
                    </div>
                </div>
            {% endfor %}
        </div>      

        
    <!-- this is used to iterate through the pages and display a link for each at the bottom -->
        <div class="btn-group">
            {% for page in all_blogs.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=1) %}
                {% if page %}
                        <a href="blogs/{{ page }}" class="btn btn-dark"> {{ page }}</a>
                {% else %}
                        <span>…</span>
                {% endif %}
            {% endfor %}
        </div>    
    </div>
{% endblock %}