{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block content %} 

    <h1 class="class=d-inline mb-4">
        Welcome to Snake_Case
        <small class="text-muted">A blog site for Python People</small>
    </h1>

    <br>
   
        <div class="d-grid gap-5 col-5 mx-auto">

            <blockquote class="blockquote">
                <p class="mb-0"><strong>Hi friends!</strong>Got some hot Python tips? Or maybe just some hot takes? Take it to the blogs and register for a snake_case account today!</p>
            </blockquote>

            <a href="/login" class="btn btn-dark mt-4"> Returning? Login</span></a>
            <a href="/register" class="btn btn-dark ">New? Sign Up</span></a>
        </div>
   
   
{% endblock %}