{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block content %} 

    <h1 class="class=d-inline mb-4">
        Welcome to Snake_Case
        <small class="text-muted">A blog site for Python People</small>
    </h1>

    <br>

        <p> Hi friends. Got some hot Python tips? Or maybe just some hot takes? Take it to the blogs and register for a snake_case account today!</p>

    <br>

    <div class="btn-group-vertical m-1">
        <a href="/login" class="btn btn-dark "> Returning? Login</a>
        <a href="/register" class="btn btn-dark ">New? Register today!</a>
    </div>
{% endblock %}