{% extends "base.html" %}

{% block title %} View Blog {% endblock %}

{% block content %} 
    <div class="card d-inline mb-4" style="width: 18rem;">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.content }}</p>
    </div>

    <!-- if this is the current users profile page allow them to edit their profile -->
    {% if current_user.id == post.author_id %}
        <div class="btn-group">
            <a href="/blogs/{{ post.id }}/update" class="btn btn-dark">Edit Blog</a>
        </div>
    {% endif %}  

{% endblock %}